@import url('https://fonts.googleapis.com/css?family=Roboto:100');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    width: 100%;

}

header img1 {
    width: 20px;
    margin-left: 40px;
    margin-top: 40px;
}
.contenedor_principal{
  text-align: center;

}
.fa-graduation{
  color: #fff;
  font-size: 40px;
  margin-left: 40px;
  margin-top: 60px;

}
